<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>
</head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Awesome Dealer</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'djangoapp:about' %}">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'djangoapp:contact' %}">Contact us</a>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li>
                    <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                    <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Username" name="username" >
                            <input type="password" class="form-control" placeholder="Username" name="psw" >
                            <button class="btn btn-primary" type="submit">Login</button>
                            <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                        </div>
                    </form>
                </li>
                {% endif %}
                </ul>
            </div>
        </nav>
        <div>           
            {% if user.is_authenticated %}
            <h4>Write a review about {{dealership.full_name}}</h4>
            <form id="reviewForm" action="{% url 'djangoapp:add_review' dealership.id %}" method="post">
                <div class="form-group">
                    <div>
                        <label>Enter review:</label>
                        <textarea class="form-control" id="review" name="review" rows="4" required></textarea>
                    </div>
                    <div> 
                        <label class="checkbox-inline no_indent">
                            <input type="checkbox" name="purchase" id="purchase">
                             Purchased
                        </label>
                        
                    <div>
                    <div class="purchase_info">
                        <input class="date-own form-control" type="text" name="purchase_date" id="purchase_date">
                        <label>Select your car (model-make-year):</label>
                        <select name="car" id="car" class="form-select" name="purchased" required>
                            {% for car in cars %}
                                <option selected value={{car.id}}>{{car.name}}-{{car.make.name}}-{{ car.year|date:"Y" }}</option>
                            {% endfor %}
                        </select>
                    </div> 
                    {% csrf_token %}      
                    <input class="btn btn-success btn-block" type="submit" value="Submit">
                </div>
            </form>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %} 
            {% endif %}
        </div>
    
    </body>
    <script type="text/javascript">
        $('.purchase_date').datepicker({
           format: 'mm/dd/yyyy'
         });
    
        // function isChecked() {
        //     document.addEventListener("DOMContentLoaded", function(event) {
        //         var x = document.getElementById("purchase").checked;
        //         document.getElementById("purchase_info").disabled = !x
        //     })
        // }
    </script>
</html>